<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kendo UI &amp; Dataviz Blog Demo</title>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.bootstrap.min.css" />
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerysignalr")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js"></script>
    <script src="http://cdn.kendostatic.com/2013.3.1119/js/kendo.aspnetmvc.min.js"></script>
    <script src='@Url.Content("~/")signalr/hubs'></script>
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/dashboard-core")
    <script>
        ESK.Blog.Site.ContentUrl = '@Url.Content("~/Content")';
        ESK.Blog.Site.ImageUrl = '@Url.Content("~/Content/Images")';
    </script>
    @Scripts.Render("~/bundles/dashboard")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("KendoUI & Dataviz Blog Demo", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Realtime Donut Chart", "RealtimeDonutChart", "Dataviz")</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="layout-body-container" class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <ul class="nav navbar-nav text-center">
                        <li><a href="http://blog.essencework.com/" target="_blank" class="footericonlink">tumblr</a></li>
                        <li><a href="https://twitter.com/mbskywing" target="_blank" class="footericonlink">twitter</a></li>
                        <li><a href="https://github.com/skywing" target="_blank" class="footericonlink">gitHub</a></li>
                        <li><a href="https://stackoverflow.com/users/451384/ken-wong" target="_blank" class="footericonlink">stackoverflow</a></li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-19424850-5', 'azurewebsites.net');
        ga('send', 'pageview');

    </script>
</body>
</html>
